on:
  push:
    branches: [stable]
  pull_request:
    paths-ignore:
      - "**.md"
      - "docs/*"
      - "screenshots/*"
      - "translators.sh"
      - ".github/ISSUE_TEMPLATE/**"

name: CI Build Flatpak
jobs:

  flatpak:
    name: "Flatpak Build Test"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:gnome-49
      options: --privileged
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0
    - uses: flatpak/flatpak-github-actions/flatpak-builder@v6
      with:
        bundle: Store.flatpak
        manifest-path: build-aux/flatpak/io.github.pureblueos.purestore.json
        cache-key: flatpak-builder-${{ github.sha }}